extends ../layout

block content
    h1= title
    p= body
    p
        a.btn.btn-primary(href='#') Cat 1
    p
        a.btn.btn-primary(href='#') Cat 2
    p
        a.btn.btn-primary(href='#') Cat 3
    p
        a.btn.btn-primary(href='#') Cat 4