extends ../layout

block content
    h1= title

    p
        if categories.length > 0
            each category, index in categories
                p
                    a.btn.btn-primary(href='/search/subcategories/' + category._id)= category.title
