extends ../fullSizeLayout

block content

    div(id='map', style='width:100%; height:500px;')

    script.
        function initMap() {

            var valais = {lat: 46.255, lng: 7.344};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                center: valais,
                mapTypeId: google.maps.MapTypeId.ROADTYPE
            });

            var marker = new google.maps.Marker({
                position: valais,
                map: map
            });


            document.getElementById("map").style.height = '-webkit-fill-available';
        }

    script(async defer src='https://maps.googleapis.com/maps/api/js?key=' + key + '&v=3.exp&callback=initMap')

