extends ../layout

block content
    h1= title
    p= body

    div#map

    script.
        function initMap() {
            console.log('Showing map...');
            var valais = {lat: 46.255, lng: 7.344};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: valais
            });
            var marker = new google.maps.Marker({
                position: valais,
                map: map
            });
        }

    script(async defer src='https://maps.googleapis.com/maps/api/js?key=' + 'AIzaSyBxW2lC6DY5YVivPOYzCY9e715DsqtW0fE' + '&callback=initMap()')

