extends ../layout

block content
    h1= title
    p= body
    p Catégorie :
        p
            a.btn.btn-primary(href='/offer/picture') Sub-Category 1

        p
            a.btn.btn-primary(href='/offer/picture') Sub-Category 2

        p
            a.btn.btn-primary(href='/offer/picture') Sub-Category 3

        p
            a.btn.btn-primary(href='/offer/picture') Sub-Category 4


        hr

        p
            a.btn.btn-primary(href='/offer') Retour