extends ../layout

block content
    h1= title
    p= body

    div(class='input-field')
        input(type='text', placeholder='Lieu', id="autocomplete-input", class='autocomplete')

    p
        a.btn.btn-primary(href='/offer/price') Suivant

    hr

    p
        a.btn.btn-primary(href='/offer/availability') Retour