extends index

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Validation par SMS

                // login form
                form(method='POST' action='/code')
                    div.form-group
                        label(for='code') Code SMS:
                        input#code.form-control(type='tel', placeholder='xxxx' name='code' required)
                    button.btn.btn-primary(type='submit') Valider le code