extends ../layout

block content
    h1= title
    p= body
    form(method='GET' action='/login')
        button.btn.btn-primary(type='submit') Connexion

    form(method='GET' action='/register')
        button.btn.btn-primary(type='submit') Enregistrement

