doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

        title= title + ' - CIEL'
        block css
            link(href='/public/css/materialize.min.css', rel='stylesheet')

        block jsHead

    body

        nav
            div(class='nav-wrapper teal lighten-2')
                a(href='#', class='brand-logo') Circular Economy Lab Network
                ul(id='nav-mobile', class='right hide-on-med-and-down')
                    li
                        a(href='home') Home

        div(class='container')
            block content


        block jsBody
            script(src='/public/js/materialize.min.js')